header {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;  
}

.headerContent {    
    display: flex;    
    align-items: center;
    margin-left: 100px;
    padding: 10px;
    padding-left: 20%;
    color: #fff;   
}

.msgTitle {
    color: black !important;
    font-weight: bold !important;
    display:flex;
    justify-content: space-around;
}

a{
    margin: 10px;
    padding: 0 0 0 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

@media only screen and (max-width: 540px) {
    .headerContent {
        display: flex;    
        align-items: center;
        margin-left: 100px;
        padding: 10px;
        color: #fff;
        font-size: 18px !important; 
    }
    
    a{
        margin: 8px;
        padding: 0 0 0 8px;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }
}

a:hover{
    text-decoration: underline;
    color: #f2f556;
}

.container {
    display: flex;
    justify-content: space-between;    
}

form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;  
    margin-bottom: 15px;
}

label span {
    font-weight: bold !important;
    font-size: 1.1rem !important;
}

.graficoBarras {
    display: flex;
    max-width: 705px;
    max-height: 350px;
    justify-content: center;
}

.graficoLinha {
    display: flex;
    max-width: 705px;
    max-height: 350px;
    justify-content: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}